@model KariyerPortali.Admin.ViewModels.EmployerFormViewModel
<div class="page-container" style="
     margin-top 19px;
     ">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" style="min-height: 571px; margin-left: 0px; padding-left: 0px; padding-top: 0px;">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN THEME PANEL -->

            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="@Url.Action("Index","Employer")">Tüm İşverenler</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Yeni İşveren</span>
                    </li>
                </ul>

            </div>
            <h1 class="page-title"></h1>

            <div class="col-md-12" style="
                 padding-left 0px;
                 ">
                <div class="portlet light bordered">
                    <div class="portlet-title" style="border-bottom-width: 1px;margin-bottom: 10px;">
                        <div class="caption font-dark">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject bold uppercase ">YENİ İŞVEREN</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-6 ">
                                <div class="portlet light bordered" style="height: 411px;">

                                    <div class="portlet-body form">



                                        <div class="form-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmployerName)
                                                @Html.EditorFor(model => model.EmployerName, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                                @Html.ValidationMessageFor(model => model.EmployerName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UserName)
                                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @tabindex = "3", @class = "form-control spinner" } })
                                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.SectorId)
                                                @Html.DropDownList("SectorId", null, new { @tabindex = "5", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.SectorId, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CityId)
                                                @Html.DropDownList("CityId", null, new { @tabindex = "7", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="portlet light bordered">

                                    <div class="portlet-body form" style="margin-left: 15px;margin-right: 15px;">

                                        <div class="form-body">
                                            <div class="form-group">
                                           
                                                    @Html.LabelFor(model => model.Email)
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @tabindex = "2", @class = "form-control spinner" } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                   
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Phone)
                                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @tabindex = "4", @class = "form-control spinner" } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })


                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.WebSite)
                                                @Html.EditorFor(model => model.WebSite, new { htmlAttributes = new { @tabindex = "6", @class = "form-control spinner" } })
                                                @Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Address)
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @tabindex = "8", @class = "form-control spinner" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" tabindex="9" class="btn blue">Kaydet</button>
                                            <button type="button" tabindex="10" class="btn default">İptal</button>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}